@font-face {
    font-family: gidole;
    src: url('/asset/fonts/gidole/Gidole-Regular.ttf');
}
.menu-top{
  font-family: gidole;
  font-size: large;

}
body { 
    
    
    background-color:#A5C5CF;
font-family: gidole;

}

.main-content {
    margin-top: 80px;
}
.menu-label {
  border-bottom: 1px solid black ;  
}

.addCategory{
  background-color: #ecf0f1; 
  padding: 20px;
}

.col-md-8 {
     background-color: #ecf0f1;
     padding:20px;
     margin:20px;
}

.form-entry{
    background-color: #ecf0f1;
    padding:20px;
}
 .caption:hover {
        
        
     
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
     transition: background-color 2s ease-out;
     
 }
     .thumbnail {
      
        box-shadow: none;
     
        padding:0;
    }

    .caption h3 {
        color: #fff;
        -webkit-font-smoothing: antialiase;
        transition: background-color 2s ease-out;
    }
   .profile-image {
       height:50px;
       width: 50px;
       
   }
   
